/*
 * ScudderStevens.me
 * ===========
 * themes/me.scss
 */
/*
 * Mixins
 * =================
 * abstracts/mixins
 */
/* Responsive breakpoint manager
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * Mixin for Responsive Retina Image
 * @include image-2x;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* @mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
} */
/*
 * Variables
 * =================
 * abstracts/variables
 */
/* Monochromic */
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap");
/*
$cyan: #00a892;
.cyan {
    background-color: $mono;
    // white
    &_s10,
    &_s100 { background-color: $white }
    // shades
    &_s095 { background-color: lighten( $cyan, 45% ); }
    &_s09,
    &_s090 { background-color: lighten( $cyan, 40% ); }
    &_s090a85 { background-color: rgba(230, 230, 230, .85); }
    &_s085 { background-color: lighten( $cyan, 35% ); }
    &_s08,
    &_s080 { background-color: lighten( $cyan, 30% ); }
    &_s075 { background-color: lighten( $cyan, 25% ); }
    &_s07,
    &_s070 { background-color: lighten( $cyan, 20% ); }
    &_s065 { background-color: lighten( $cyan, 15% ); }
    &_s06,
    &_s060 { background-color: lighten( $cyan, 10% ); }
    &_s055 { background-color: lighten( $cyan, 05% ); }
    &_s05,
    &_s050 { background-color: $cyan; } // 50%
    &_s045 { background-color: darken( $cyan, 05% ); }
    &_s04,
    &_s040 { background-color: darken( $cyan, 10% ); }
    &_s035 { background-color: darken( $cyan, 15% ); }
    &_s03,
    &_s030 { background-color: darken( $cyan, 20% ); }
    &_s025 { background-color: darken( $cyan, 25% ); }
    &_s02,
    &_s020 { background-color: darken( $cyan, 30% ); }
    &_s015 { background-color: darken( $cyan, 35% ); }
    &_s01,
    &_s010 { background-color: darken( $cyan, 40% ); }
    &_s005 { background-color: darken( $cyan, 45% ); }
    // black
    &_s00,
    &_s000 { background-color: $black; }
 }
 */
/* NOTES
color: #FFA500 // Orange
color: #00DBBC // Cyan
color: #00A187 // Dark Cyan
color: #EEEE6C // Yellow
color: #B8A99A // Dirt
color: #514538 // Mud
*/
.me {
  background-color: #ffffff;
  /* NEED */
  /* NEED MEDIA BREAKPOINTS */
  /*
      .portfolio {

          .project {

              height: 650px;
              background: linear-gradient(135deg, orange 60%, cyan);

              .project__header {

                  height: 60px; 
                  position: relative; 
                  top: 60px;
                  z-index: 10;

                  .jump.left.level-one,
                  .jump.right.level-one {
                      width: 60px;
                      height: 60px;
                  }
                  .jump.left.level-one {
                      margin-right: auto;
                      background: rgb(14,255,0);
                      background: -moz-linear-gradient(135deg, rgba(14,255,0,1) 8%, rgba(194,194,194,1) 8%, rgba(231,231,231,1) 9%);
                      background: -webkit-linear-gradient(135deg, rgba(14,255,0,1) 8%, rgba(194,194,194,1) 8%, rgba(231,231,231,1) 9%);
                      background: linear-gradient(135deg, rgba(14,255,0,1) 8%, rgba(194,194,194,1) 8%, rgba(231,231,231,1) 9%);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0eff00",endColorstr="#e7e7e7",GradientType=1);
                      &:hover{
                          cursor: pointer;
                          background: rgb(14,255,0);
                          background: -moz-linear-gradient(135deg, rgba(14,255,0,1) 8%, rgba(194,194,194,1) 8%, rgba(255,255,255,1) 9%, rgba(214,214,214,1) 26%);
                          background: -webkit-linear-gradient(135deg, rgba(14,255,0,1) 8%, rgba(194,194,194,1) 8%, rgba(255,255,255,1) 9%, rgba(214,214,214,1) 26%);
                          background: linear-gradient(135deg, rgba(14,255,0,1) 8%, rgba(194,194,194,1) 8%, rgba(255,255,255,1) 9%, rgba(214,214,214,1) 26%);
                          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0eff00",endColorstr="#d6d6d6",GradientType=1);    
                      }
                  }
                  .jump.right.level-one {
                      margin-left: auto;
                  }
              }
              img#user {
                  height: 650px; 
                  position: relative;
                  margin: -60px auto 0; // header bar
                  z-index: 100;
              }
              .project__slide-background {
                  height: 650px; 
                  margin-top: -60px; // header bar
                  z-index: -1;
              }
          }

          // ____ Figma Thumbnail ____
          // left & right margin  150 px
          // left & right padding 160 px
          // top & bottom padding 130 px
          .thumbnail,
          .slide {

              min-width: 900px;
              min-height: 556px;

              max-width: 1052px;
              max-height: 650px;

          }
          .thumbnail-2x,
          .slide-2x {
              min-width: 1600px;
              max-width: 1920px;
              max-height: 960px;
          }
      }
  */
  /*
      // logo
      #logo {
          width: 65px;
          height: 65px;
          margin: auto 1.5rem auto -5px;
      }

      // ribbons
      .ribbon_nav,
      .ribbon_alert { 
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          // padding: .5rem;
      }
      .grid__fixed-width .ribbon_nav,
      .grid__fixed-width .ribbon_alert {
          padding: .5rem 0;
      }
      .ribbon_alert p {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.85rem;
      }
      .ribbon_alert p strong {
          font-weight: 600;
      }

      // timeline
      .career-timeline {
          padding: 1.75rem 0;
      }

      // projects
      .project {
          // icons
          &-header,
          &-tags,
          &-tech-stack,
          &-conclusion {
              svg.current {
                  margin: auto 1.25rem auto 0;
                  .svg-elem {
                      fill: none;
                      stroke: darken( $accent, 35% );
                  }
                  .svg-fill-elem {
                      fill: $white;
                  }
                  .svg-fill-elem,
                  .svg-line-elem {
                      stroke-linecap: round;
                      stroke-linejoin: round;
                      stroke-width: 2px;
                  }
              }
          }
          // dropdown menu
          &-header {
              .project-owner {
                  margin: 0 auto 20px 0;
              }
          }
          &-header .dropdown {
              width: 20px;
              height: 20px;
              margin: auto auto auto 10px;
              padding: 3px 20px;
              position: relative;
              display: inline-block;
              svg.dropbtn {
                  border: none;
                  cursor: pointer;
                  circle {
                      fill: none;
                      stroke: darken( $primary, 5% );
                      stroke-linecap:round;
                      stroke-linejoin:round;
                      stroke-width:2px;
                  }
              }
              .dropdown-content {
                  display: none;
                  position: absolute;
              }
              .dropdown-content_top,
              .dropdown-content_bottom {
                  height: 6px;
                  background-color: lighten( $primary, 10% );
              }
              .dropdown-content_top {
                  -webkit-border-top-right-radius: 3px;
                  -moz-border-top-right-radius: 3px;
                  border-top-right-radius: 3px;
              }
              .dropdown-content_bottom {
                  -webkit-border-bottom-left-radius: 3px;
                  -moz-border-bottom-left-radius: 3px;
                  border-bottom-left-radius: 3px;
                  -webkit-border-bottom-right-radius: 3px;
                  -moz-border-bottom-right-radius: 3px;
                  border-bottom-right-radius: 3px;
              }
              &:hover {
                  background-color: darken( $primary, 5% );
                  -webkit-border-top-left-radius: 6px;
                  -moz-border-top-left-radius: 6px;
                  border-top-left-radius: 6px;
                  -webkit-border-top-right-radius: 6px;
                  -moz-border-top-right-radius: 6px;
                  border-top-right-radius: 6px;
                  svg.dropbtn {
                      padding-right: 120px;
                      circle {
                          stroke: $white;
                      }
                  }
                  .dropdown-content {
                      display: block;
                      background-color: $white;
                      min-width: 160px;
                      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                      margin-left: -20px;
                      z-index: 1;
                      -webkit-border-radius: 3px;
                      -moz-border-radius: 3px;
                      border-radius: 3px;
                      -webkit-border-top-left-radius: 0;
                      -moz-border-top-left-radius: 0;
                      border-top-left-radius: 0;
                      a {
                          margin: 0;
                          color: darken( $primary, 5% );
                          text-decoration: none;
                          display: flex;
                          svg {
                              margin: 0;
                              padding: 10px 20px;
                              background-color: lighten( $mono, 45% );
                          }
                          span {
                              padding: 8px 20px 8px 10px;
                          }
                          &:hover {
                              color:darken( $secondary, 15% );
                              background-color: lighten( $mono, 45% );
                              -webkit-border-radius: 3px;
                              -moz-border-radius: 3px;
                              border-radius: 3px;
                              svg {
                                  background-color: lighten( $mono, 40% );
                              }
                          }
                      }
                  }
              }
          }
          &-tags {
              ul {
                  margin: 0;
                  padding: 0;
                  list-style-type: none;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  li {
                      display: flex;
                      flex-direction: row;
                      flex-wrap: nowrap;
                      padding: .25rem 2rem .25rem 0;
                      svg.current{
                          margin: .25rem .5rem .25rem 0;
                      }
                      .term {
                          font-weight: 250;
                          font-size: 1rem;
                          color: darken( $accent, 35% );
                          text-decoration: none;
                          margin: auto 0;
                      }
                  }
              }
          }
          &-description {
              h4 {
                  margin: .5rem 0 .5rem;
              }
              p {
                  margin: .5rem 2rem .5rem 0;
              }
              margin-bottom: 1.75rem;
          }
          &-tech-stack {
              margin-bottom: 1.75rem;
          }
          &-conclusion {
              h4 {
                  margin: 1.25rem 0;
              }
              p {
                  margin: .5rem 2rem 1.25rem 0;
              }
              padding: 2rem 0;
          }
          &-conclusion_ctas {
              height: .25rem;
          }
          &-cta_btn-grp {

              a.cta-btn {
                  padding: .75rem .5rem;
                  color: darken( $accent, 15% );
                  background-color: lighten( $mono, 35% );
                  svg {
                      width: 1.75rem;
                      height: 1.75rem;
                      margin-right: .35rem;
                      color: lighten( $mono, 25% );
                      .logo {
                          fill: lighten( $mono, 15% );
                          stroke: lighten( $mono, 15% );
                      }
                  }
                  &:visited {
                      color: darken( $accent, 25% );
                      svg {
                          color: darken( $accent, 43% );
                          .logo {
                              fill: darken( $accent, 25% );
                              stroke: darken( $accent, 25% );
                          }
                      }
                  }
                  &:hover {
                      color: darken( $accent, 10% );
                      background-color: darken( $accent, 33% );
                      text-decoration: underline;
                      svg {
                          color: darken( $accent, 45% );
                          .logo {
                              fill: darken( $accent, 10% );
                              stroke: darken( $accent, 10% );
                          }
                      }
                  }
                  &:active {
                      color: $white;
                      text-decoration: underline;
                      svg {
                          color: darken( $accent, 50% );
                          .logo {
                              fill: $white;
                              stroke: $white;
                          }
                      }
                  }
              }
          }
          &-conclusion_end-cap {
              height: 2.5rem;
          }
      }
      @include md {
          .project .btn-grp,
          .project.grid__fixed-width.btn-grp {
              flex-direction: column;
              width: 100%;
              margin: 0;
              padding: 0;
          }
          .grid-1-3.btn {
              width: 100%;
          }
          .cta_btn-grp a.cta-btn,
          .project a.cta-btn {
              padding: .75rem 2.5rem;
              justify-content: flex-start;
          }
      }
      @include sm {
          .project .btn-grp,
          .project .grid__fixed-width.btn-grp {
              flex-direction: column;
              width: 100%;
              margin: 0;
              padding: 0;
          }
          .grid-1-3.btn {
              width: 100%;
          }
          .cta_btn-grp a.cta-btn,
          .project a.cta-btn {
              padding: .75rem 2.5rem;
              justify-content: flex-start;
          }
      }
      @include xs {
          .project .btn-grp,
          .projects .grid__fixed-width.btn-grp {
              flex-direction: column;
              width: 100%;
              margin: 0;
              padding: 0;
          }
          .grid-1-3.btn {
              width: 100%;
          }
          .cta_btn-grp a.cta-btn,
          .project a.cta-btn {
              justify-content: flex-start;
          }
      }
  */
}
.me .alert {
  font-family: "Saira", sans-serif;
  font-weight: 200;
}
.me h1, .me h2, .me h3, .me h4, .me h5, .me h6 {
  font-family: "Saira", sans-serif;
  line-height: inherit;
  font-optical-sizing: auto;
}
.me p, .me a, .me li {
  font-family: "Saira", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}
.me h1 {
  font-size: 3rem;
  font-weight: 100;
  font-variation-settings: "wght" 100, "wdth" 90;
  color: #010007;
}
.me h2 {
  font-size: 1.75rem;
  font-weight: 100;
  font-variation-settings: "wght" 100, "wdth" 90;
  color: black;
  text-transform: uppercase;
}
.me h3 {
  font-size: 1.5rem;
  font-weight: 200;
  font-variation-settings: "wght" 200, "wdth" 90;
  color: black;
}
.me h4 {
  font-size: 1rem;
  font-weight: 350;
  font-variation-settings: "wght" 350, "wdth" 90;
  color: #110054;
}
.me h5 {
  font-size: 1rem;
  font-weight: 300;
  font-variation-settings: "wght" 300, "wdth" 100;
  color: #16006d;
}
.me h6 {
  font-size: 0.85rem;
  font-weight: 250;
  font-variation-settings: "wght" 250, "wdth" 110;
  color: #1b0087;
}
.me p strong {
  font-weight: 450;
}
.me p.quote {
  font-style: italic;
  font-variation-settings: "ital" 1;
  text-shadow: 1px 2px 1px #fff;
  color: #332100;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #ffa600 65%);
  display: inline;
}
.me p.quote svg {
  margin-left: -24px;
  padding-right: 4px;
  padding-bottom: 12px;
}
.me p.quote svg.dbl-quote {
  fill: #ffa600;
}
.me p.quote-src {
  background: linear-gradient(180deg, #ffdb99 50%, rgba(255, 255, 255, 0) 50%);
  margin: 0;
  padding: 1rem 0;
}
.me p.quote-src a:hover {
  background: #ffffff;
}
.me p.mega,
.me p.mega a,
.me a.mega {
  font-weight: 350;
  font-size: 1.5rem;
}
.me p.giga,
.me p.giga a,
.me a.giga {
  font-weight: 400;
  font-size: 1.75rem;
}
.me p.tera,
.me p.tera a,
.me a.tera {
  font-weight: 450;
  font-size: 2rem;
}
.me p.micro,
.me p.micro a a.micro {
  font-weight: 250;
  font-size: 1.1rem;
}
.me p.nano,
.me p.nano a,
.me a.nano {
  font-weight: 200;
  font-size: 0.85rem;
}
.me p.pico,
.me p.pico a,
.me a.pico {
  font-weight: 150;
  font-size: 0.6rem;
}
.me .primary {
  background-color: #07ffde;
}
.me .primary_s1, .me .primary_s10, .me .primary_s100 {
  background-color: #ffffff;
}
.me .primary_s095 {
  background-color: #d3fff9;
}
.me .primary_s09, .me .primary_s090 {
  background-color: #bafff6;
}
.me .primary_s085 {
  background-color: #a0fff2;
}
.me .primary_s08, .me .primary_s080 {
  background-color: #87ffef;
}
.me .primary_s075 {
  background-color: #6dffec;
}
.me .primary_s07, .me .primary_s070 {
  background-color: #54ffe8;
}
.me .primary_s070a70 {
  background-color: rgba(126, 143, 234, 0.7);
}
.me .primary_s065 {
  background-color: #3affe5;
}
.me .primary_s06, .me .primary_s060 {
  background-color: #21ffe1;
}
.me .primary_s055 {
  background-color: #07ffde;
}
.me .primary_s05, .me .primary_s050 {
  background-color: #00edcd;
}
.me .primary_s045 {
  background-color: #00d3b7;
}
.me .primary_s04, .me .primary_s040 {
  background-color: #00baa1;
}
.me .primary_s035 {
  background-color: #00a08b;
}
.me .primary_s03, .me .primary_s030 {
  background-color: #008775;
}
.me .primary_s025 {
  background-color: #006d5e;
}
.me .primary_s02, .me .primary_s020 {
  background-color: #005448;
}
.me .primary_s015 {
  background-color: #003a32;
}
.me .primary_s01, .me .primary_s010 {
  background-color: #00211c;
}
.me .primary_s005 {
  background-color: #000706;
}
.me .primary_s0, .me .primary_s00, .me .primary_s000 {
  background-color: #000000;
}
.me .secondary {
  background-color: #cdff07;
}
.me .secondary_s1, .me .secondary_s10, .me .secondary_s100 {
  background-color: #ffffff;
}
.me .secondary_s095 {
  background-color: #f6ffd3;
}
.me .secondary_s09, .me .secondary_s090 {
  background-color: #f1ffba;
}
.me .secondary_s085 {
  background-color: #ecffa0;
}
.me .secondary_s08, .me .secondary_s080 {
  background-color: #e7ff87;
}
.me .secondary_s075 {
  background-color: #e2ff6d;
}
.me .secondary_s07, .me .secondary_s070 {
  background-color: #ddff54;
}
.me .secondary_s065 {
  background-color: #d8ff3a;
}
.me .secondary_s06, .me .secondary_s060 {
  background-color: #d2ff21;
}
.me .secondary_s055 {
  background-color: #cdff07;
}
.me .secondary_s05, .me .secondary_s050 {
  background-color: #bded00;
}
.me .secondary_s045 {
  background-color: #a9d300;
}
.me .secondary_s04, .me .secondary_s040 {
  background-color: #94ba00;
}
.me .secondary_s035 {
  background-color: #80a000;
}
.me .secondary_s03, .me .secondary_s030 {
  background-color: #6c8700;
}
.me .secondary_s025 {
  background-color: #576d00;
}
.me .secondary_s02, .me .secondary_s020 {
  background-color: #435400;
}
.me .secondary_s015 {
  background-color: #2e3a00;
}
.me .secondary_s01, .me .secondary_s010 {
  background-color: #1a2100;
}
.me .secondary_s005 {
  background-color: #060700;
}
.me .secondary_s0, .me .secondary_s00, .me .secondary_s000 {
  background-color: #000000;
}
.me .accent {
  background-color: #3907ff;
}
.me .accent_s1, .me .accent_s10, .me .accent_s100 {
  background-color: #ffffff;
}
.me .accent_s095 {
  background-color: #dcd3ff;
}
.me .accent_s09, .me .accent_s090 {
  background-color: #c7baff;
}
.me .accent_s085 {
  background-color: #b3a0ff;
}
.me .accent_s08, .me .accent_s080 {
  background-color: #9f87ff;
}
.me .accent_s075 {
  background-color: #8a6dff;
}
.me .accent_s07, .me .accent_s070 {
  background-color: #7654ff;
}
.me .accent_s065 {
  background-color: #613aff;
}
.me .accent_s06, .me .accent_s060 {
  background-color: #4d21ff;
}
.me .accent_s055 {
  background-color: #3907ff;
}
.me .accent_s05, .me .accent_s050 {
  background-color: #2f00ed;
}
.me .accent_s045 {
  background-color: #2a00d3;
}
.me .accent_s04, .me .accent_s040 {
  background-color: #2500ba;
}
.me .accent_s035 {
  background-color: #2000a0;
}
.me .accent_s03, .me .accent_s030 {
  background-color: #1b0087;
}
.me .accent_s025 {
  background-color: #16006d;
}
.me .accent_s02, .me .accent_s020 {
  background-color: #110054;
}
.me .accent_s015 {
  background-color: #0c003a;
}
.me .accent_s01, .me .accent_s010 {
  background-color: #070021;
}
.me .accent_s005 {
  background-color: #010007;
}
.me .accent_s0, .me .accent_s00, .me .accent_s000 {
  background-color: #000000;
}
.me .alt {
  background-color: #ffa600;
}
.me .alt_s1, .me .alt_s10, .me .alt_s100 {
  background-color: #ffffff;
}
.me .alt_s095 {
  background-color: #ffedcc;
}
.me .alt_s09, .me .alt_s090 {
  background-color: #ffe4b3;
}
.me .alt_s085 {
  background-color: #ffdb99;
}
.me .alt_s08, .me .alt_s080 {
  background-color: #ffd380;
}
.me .alt_s075 {
  background-color: #ffca66;
}
.me .alt_s07, .me .alt_s070 {
  background-color: #ffc14d;
}
.me .alt_s065 {
  background-color: #ffb833;
}
.me .alt_s06, .me .alt_s060 {
  background-color: #ffaf1a;
}
.me .alt_s055 {
  background-color: #ffa600;
}
.me .alt_s05, .me .alt_s050 {
  background-color: #e69500;
}
.me .alt_s045 {
  background-color: #cc8500;
}
.me .alt_s04, .me .alt_s040 {
  background-color: #b37400;
}
.me .alt_s035 {
  background-color: #996400;
}
.me .alt_s03, .me .alt_s030 {
  background-color: #805300;
}
.me .alt_s025 {
  background-color: #664200;
}
.me .alt_s02, .me .alt_s020 {
  background-color: #4d3200;
}
.me .alt_s015 {
  background-color: #332100;
}
.me .alt_s01, .me .alt_s010 {
  background-color: #1a1100;
}
.me .alt_s005 {
  background-color: black;
}
.me .alt_s0, .me .alt_s00, .me .alt_s000 {
  background-color: #000000;
}
.me .gradient,
.me .linear-gradient {
  background: linear-gradient(135deg, #ffa600 60%, #07ffde);
}
.me .gradient_s10,
.me .linear-gradient_s10 {
  background: linear-gradient(135deg, #ffa600 10%, #07ffde);
}
.me .gradient_s20,
.me .linear-gradient_s20 {
  background: linear-gradient(135deg, #ffa600 20%, #07ffde);
}
.me .gradient_s30,
.me .linear-gradient_s30 {
  background: linear-gradient(135deg, #ffa600 30%, #07ffde);
}
.me .gradient_s40,
.me .linear-gradient_s40 {
  background: linear-gradient(135deg, #ffa600 40%, #07ffde);
}
.me .gradient_s50,
.me .linear-gradient_s50 {
  background: linear-gradient(135deg, #ffa600 50%, #07ffde);
}
.me .gradient_s60,
.me .linear-gradient_s60 {
  background: linear-gradient(135deg, #ffa600 60%, #07ffde);
}
.me .gradient_s70,
.me .linear-gradient_s70 {
  background: linear-gradient(135deg, #ffa600 70%, #07ffde);
}
.me .gradient_s80,
.me .linear-gradient_s80 {
  background: linear-gradient(135deg, #ffa600 80%, #07ffde);
}
.me .gradient_s90,
.me .linear-gradient_s90 {
  background: linear-gradient(135deg, #ffa600 90%, #07ffde);
}

.me .intro-duo__profile .profile-img {
  background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v1/content/tr:w-750/Scudder-Trixie_profile-1000w668h_vH0LFPYDJ.jpg");
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: center;
  background-size: cover;
  height: 500px;
  width: 500px;
}
.me p a {
  color: #00aa94;
  text-decoration: none;
  text-shadow: 1px 2px 1px #edfffd;
}
.me p a:visited {
  color: #008775;
}
.me p a:hover {
  color: #2200aa;
  text-decoration: underline;
  text-shadow: none;
}
.me p a:active {
  color: #3907ff;
  text-decoration: underline;
  text-shadow: none;
}
.me a.icon-link {
  color: #00aa94;
  text-decoration: none;
  font-weight: 350;
}
.me a.icon-link svg {
  width: 1.15rem;
  height: 1.15rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: -0.15rem;
  color: #87ffef;
}
.me a.icon-link:visited {
  color: #008775;
}
.me a.icon-link:visited svg {
  color: #07ffde;
}
.me a.icon-link:hover {
  color: #2200aa;
  text-decoration: underline;
}
.me a.icon-link:hover svg {
  color: #3907ff;
}
.me a.icon-link:active {
  color: #ffa600;
  text-decoration: underline;
}
.me a.icon-link:active svg {
  color: #3907ff;
}
.me a.icon-link.external {
  text-decoration: none;
}
.me a.icon-link.external svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
  margin-bottom: 0;
  color: #87ffef;
}
.me a.icon-link.external:visited {
  color: #00baa1;
}
.me a.icon-link.external:visited svg {
  color: #00baa1;
}
.me a.icon-link.external:hover {
  color: #2500ba;
  text-decoration: underline;
}
.me a.icon-link.external:hover svg {
  color: #2500ba;
}
.me a.icon-link.external:active {
  color: #ffa600;
  text-decoration: underline;
}
.me a.icon-link.external:active svg {
  color: #3907ff;
}
.me #nav #smileGradient {
  --color-stop-1: #9fdb72;
  --color-stop-2: #53d99d;
  --color-stop-3: #1ef4e1;
}
.me #svgHover, .me #nav #logoHover, .me #nav #smileHover {
  --color-stop-1: #eeee6c;
  --color-stop-2: #53f979;
  --color-stop-3: #2eceff;
}
.me #nav-header {
  padding: 2.25rem 0;
}
/*
  a.btn-nav_profile-img {
  	background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/me/v2/content/tr:h-160/Scudder-Trixie_profile-250w167h_xaOhQrHEz.jpg");
  	background-position-x: -35px;
  	background-size: cover;
  	clip-path: circle(44px at center);
  	filter: grayscale(100%);

@media (min-width: 961px) and (max-width: 1180px) {
  .me .intro-duo__profile {
    margin-bottom: 0;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v1/content/tr:w-500/Scudder-Trixie_profile-1000w668h_vH0LFPYDJ.jpg");
    height: 250px;
    width: 250px;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    display: flex;
    flex-direction: column;
    width: calc( 100% - 4rem);
    margin: 0;
    padding: 2rem;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
*/
}
.me #nav-header .nav-wrapper {
  background: linear-gradient(135deg, orange 60%, cyan);
}
.me #nav-header a[class^=btn-] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 450;
  cursor: pointer;
  /*
  svg {
      width: 1.75rem;
      height: 1.75rem;
  }
  */
}
.me #nav-header a[class^=btn-].primary {
  color: #00edcd;
  background-color: #f7fffe;
  text-decoration: none;
}
.me #nav-header a[class^=btn-].primary:visited {
  color: #006d5e;
}
.me #nav-header a[class^=btn-].primary:hover {
  color: #94ba00;
  text-decoration: underline;
}
.me #nav-header a[class^=btn-].primary:active {
  color: #cc8500;
  text-decoration: underline;
}
.me #nav-header a.btn-nav_profile-img,
.me #nav-header a.btn-nav_logo,
.me #nav-header a.btn-nav_smiles,
.me #nav-header a.btn-nav_toggle-menu {
  height: 88px;
  width: 88px;
}
.me #nav-header a.btn-nav_logo {
  cursor: pointer;
}
.me #nav-header a.btn-nav_logo svg path#section {
  fill: #F9F9F9;
}
.me #nav-header a.btn-nav_logo svg path#slash {
  fill: #D6D6D6;
}
.me #nav-header a.btn-nav_logo svg path#dash {
  fill: #D6D6D6;
}
.me #nav-header a.btn-nav_logo svg path#dot {
  fill: #B4B4B4;
}
.me #nav-header a.btn-nav_logo:hover svg path#section {
  fill: url(#logoHover) #e8fb44;
}
.me #nav-header a.btn-nav_logo:hover svg path#slash {
  fill: url(#logoHover) #00f3ff;
}
.me #nav-header a.btn-nav_logo:hover svg path#dash {
  fill: url(#logoHover) #08e2f0;
}
.me #nav-header a.btn-nav_logo:hover svg path#dot {
  fill: url(#logoHover) #00bbd7;
}
.me #nav-header a.btn-nav_smiles {
  cursor: pointer;
}
.me #nav-header a.btn-nav_smiles svg path {
  fill: url(#smileGradient) #8bdf8f;
}
.me #nav-header a.btn-nav_smiles:hover svg path {
  fill: url(#smileHover) #00fd0d;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me #nav-header .btn-grp {
    flex-direction: row;
  }
  .me #nav-header .btn-grp .btn:first-child {
    margin: 0 auto;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v1/content/tr:h-500/Scudder-Trixie_profile-1000w668h_vH0LFPYDJ.jpg");
    background-position-x: center;
    height: 500px;
    width: 100%;
  }
  .me #nav-header .btn-grp .btn:last-child {
    display: none;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me #nav-header .btn-grp {
    flex-direction: row;
  }
  .me #nav-header .btn-grp .btn:first-child {
    margin: 0 auto;
  }
  .me #nav-header .btn-grp .btn:last-child {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me #nav-header .btn-grp {
    flex-direction: row;
  }
  .me #nav-header .btn-grp .btn:first-child {
    margin: 0 auto;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v1/content/tr:h-300/Scudder-Trixie_profile-750w501h_VvQN7oRtj4.jpg");
    background-position-x: center;
    height: 300px;
    width: 100%;
  }
  .me #nav-header .btn-grp .btn:last-child {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me #nav-header .btn-grp {
    flex-direction: row;
  }
  .me #nav-header .btn-grp .btn:first-child {
    margin: 0 auto 0 0;
  }
  .me #nav-header .btn-grp .btn:last-child {
    margin: 0 0 0 auto;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .me #nav-header .btn-grp {
    flex-direction: row;
  }
  .me #nav-header .btn-grp .btn:first-child {
    margin: 0 auto 0 0;
  }
  .me #nav-header .btn-grp .btn:last-child {
    margin: 0 0 0 auto;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v1/content/tr:h-250/Scudder-Trixie_profile-550w367h_Wc6Uusp7U.jpg");
    background-position-x: center;
    height: 250px;
    width: 100%;
  }
}
@media (min-width: 1201px) {
  .me #nav-header .btn-grp {
    flex-direction: row;
  }
  .me #nav-header .btn-grp .btn:first-child {
    margin: 0 auto 0 0;
  }
  .me #nav-header .btn-grp .btn:last-child {
    margin: 0 0 0 auto;
  }
}
.me #nav-menu .btn {
  margin-right: auto;
  margin-left: auto;
}
.me a.btn-nav_back,
.me a.btn-nav_toggle-menu,
.me a.btn-sidebar_toggle-menu {
  color: #006d5e;
  background-color: #54ffe8;
}
.me a.btn-nav_back svg,
.me a.btn-nav_toggle-menu svg,
.me a.btn-sidebar_toggle-menu svg {
  width: 88px;
  height: 88px;
}
.me a.btn-nav_back:visited,
.me a.btn-nav_toggle-menu:visited,
.me a.btn-sidebar_toggle-menu:visited {
  color: #00d3b7;
}
.me a.btn-nav_back:hover,
.me a.btn-nav_toggle-menu:hover,
.me a.btn-sidebar_toggle-menu:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #00d3b7;
}
.me a.btn-nav_back:active,
.me a.btn-nav_toggle-menu:active,
.me a.btn-sidebar_toggle-menu:active {
  color: #1a1100;
  background-color: #cc8500;
}
.me a.btn-alert_confirm {
  background-color: floralwhite;
  border: solid #ffdb99 1px;
}
.me a.btn-alert_confirm:visited {
  color: #cc8500;
  background-color: #ffffff;
  border: solid #664200 1px;
}
.me a.btn-alert_confirm:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #996400;
  border: solid #664200 1px;
}
.me a.btn-alert_confirm:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #a9d300;
  border: solid #6c8700 1px;
}
.me a.btn-alert_confirm svg {
  margin-top: -0.25rem;
}
.me a.btn-nav_back,
.me a.btn-sidebar_toggle-menu {
  padding: 0.75rem;
}
.me .grid__fixed-width a.btn-nav_back,
.me .grid__fixed-width a.btn-nav_toggle {
  margin: 2.25rem 0;
}
.me a.btn-nav_main {
  font-weight: 350;
  font-size: 2rem;
  padding: 1.25rem 1rem;
  text-decoration: none;
}
.me a.btn-nav_main svg {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
}
.me a.btn-nav_main.primary {
  color: #87ffef;
  background-color: #00352e;
}
.me a.btn-nav_main.primary svg {
  color: #00211c;
}
.me a.btn-nav_main.primary svg .logo {
  fill: #87ffef;
  stroke: #87ffef;
}
.me a.btn-nav_main.accent {
  color: #2f00ed;
  background-color: #0b0035;
}
.me a.btn-nav_main.accent svg {
  color: #070021;
}
.me a.btn-nav_main.accent svg .logo {
  fill: #2500ba;
  stroke: #2500ba;
}
.me a.btn-nav_main:visited.primary {
  color: #3affe5;
}
.me a.btn-nav_main:visited.primary svg {
  color: #002b25;
}
.me a.btn-nav_main:visited.primary svg .logo {
  fill: #3affe5;
  stroke: #3affe5;
}
.me a.btn-nav_main:visited.accent {
  color: #613aff;
}
.me a.btn-nav_main:visited.accent svg {
  color: #09002b;
}
.me a.btn-nav_main:visited.accent svg .logo {
  fill: #613aff;
  stroke: #613aff;
}
.me a.btn-nav_main:hover {
  text-decoration: underline;
}
.me a.btn-nav_main:hover.primary {
  color: #00211c;
  background-color: #07ffde;
}
.me a.btn-nav_main:hover.primary svg {
  color: #00211c;
}
.me a.btn-nav_main:hover.primary svg .logo {
  fill: #21ffe1;
  stroke: #21ffe1;
}
.me a.btn-nav_main:hover.accent {
  color: #070021;
  background-color: #3907ff;
}
.me a.btn-nav_main:hover.accent svg {
  color: #070021;
}
.me a.btn-nav_main:hover.accent svg .logo {
  fill: #2a00d3;
  stroke: #2a00d3;
}
.me a.btn-nav_main:active {
  text-decoration: underline;
  background-color: #ffa600;
}
.me a.btn-nav_main:active.primary, .me a.btn-nav_main:active.accent {
  color: #1a1100;
  background-color: #ffa600;
}
.me a.btn-nav_main:active.primary svg, .me a.btn-nav_main:active.accent svg {
  color: #cc8500;
}
.me a.btn-nav_main:active.primary svg .logo, .me a.btn-nav_main:active.accent svg .logo {
  fill: #1a1100;
  stroke: #1a1100;
}
.me a.btn-alert_confirm svg {
  margin-right: 0.75rem;
}
.me .intro-duo {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.me .intro-duo.gradient,
.me .intro-duo.linear-gradient {
  background: linear-gradient(90deg, orange 60%, aqua);
}
.me .intro-duo__profile {
  display: flex;
  flex-direction: column;
}
.me .intro-duo__profile .profile-img {
  background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v2/content/tr:w-750/Scudder-Trixie_profile-1000w668h_vH0LFPYDJ.jpg");
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: center;
  background-size: cover;
  height: 500px;
  width: 500px;
}
.me .intro-duo__profile .intro-duo__title {
  display: block;
  margin: 0 2rem auto;
}
.me .intro-duo__copy {
  display: flex;
  flex-direction: column;
  width: calc(100% - 500px);
  margin: 1rem;
  padding: 1rem 2rem;
  align-content: center;
}
.me .intro-duo__copy .intro-duo__title {
  display: none;
}
.me .intro-duo__copy.white {
  background-color: white;
}
@media (min-width: 769px) and (max-width: 992px) {
  .me .intro-duo__profile {
    margin-bottom: 0;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-550/content/Scudder-Trixie_profile-550w367h.jpg");
    height: 250px;
    width: 250px;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    margin: 0;
    padding: 2rem;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me .intro-duo__profile {
    height: 500px;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-550/content/Scudder-Trixie_profile-550w367h.jpg");
    background-position-x: center;
    height: 500px;
    width: 100%;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    margin: 0;
    width: calc(100% - 4rem);
    padding: 2rem;
    align-content: top;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me .intro-duo__profile {
    height: 300px;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-250/content/Scudder-Trixie_profile-250w167h.jpg");
    background-position-x: center;
    height: 300px;
    width: 100%;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    margin: 0;
    width: calc(100% - 4rem);
    padding: 2rem;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 376px) {
  .me .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me .intro-duo__profile {
    height: 250px;
  }
  .me .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ssme/tr:w-250/content/Scudder-Trixie_profile-250w167h.jpg");
    background-position-x: center;
    height: 250px;
    width: 100%;
  }
  .me .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me .intro-duo__copy {
    display: block;
    width: 100%;
  }
  .me .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
.me ol.carousel__viewport,
.me li.carousel__project-slide,
.me li.carousel__more-slide {
  list-style: none;
  margin: 0;
  padding: 0;
}
.me .carousel__viewport {
  display: flex;
  height: 650px;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}
.me .carousel__viewport.more {
  overflow-y: hidden; /* Hide vertical scrollbar */
}
.me .carousel__project-slide {
  flex: 0 0 100%;
  width: 100%;
  height: 650px;
  counter-increment: item;
  position: relative;
}
.me .carousel__project-slide img.thumbnail,
.me .carousel__project-slide img.slide {
  display: flex;
  min-width: 900px;
  min-height: 556px;
  max-width: 1052px;
  max-height: 650px;
  margin: -60px auto 0;
  position: relative;
  z-index: 100;
}
.me .carousel__project-slide img.thumbnail-2x,
.me .carousel__project-slide img.slide-2x {
  min-width: 1600px;
  max-width: 1920px;
  max-height: 960px;
}
.me .carousel__project-slide_header {
  height: 60px;
  top: 33.333%;
  bottom: 66.666%;
  position: relative;
  z-index: 10;
}
.me .carousel__project-slide_header .grid__fixed-width {
  max-width: 1050px;
}
.me .carousel__project-slide_header .grid__fixed-width h3 {
  margin: auto 0;
}
.me .carousel__snapper,
.me .carousel__jumper {
  display: flex;
  flex-direction: row;
  width: 120px;
  position: relative;
}
.me .carousel__snapper {
  padding-left: 2rem;
}
.me .carousel__jumper {
  padding-right: 2rem;
}
.me .carousel__btn-prev,
.me .carousel__btn-next,
.me .carousel__btn-details {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.me .carousel__btn-prev svg,
.me .carousel__btn-next svg,
.me .carousel__btn-details svg {
  width: 60px;
  height: 60px;
}
.me .carousel__btn-prev svg ellipse#circle,
.me .carousel__btn-prev svg ellipse#ring,
.me .carousel__btn-next svg ellipse#circle,
.me .carousel__btn-next svg ellipse#ring,
.me .carousel__btn-details svg ellipse#circle,
.me .carousel__btn-details svg ellipse#ring {
  fill: #d9d9d9;
}
.me .carousel__btn-prev svg path#arrow,
.me .carousel__btn-prev svg ellipse#dot,
.me .carousel__btn-next svg path#arrow,
.me .carousel__btn-next svg ellipse#dot,
.me .carousel__btn-details svg path#arrow,
.me .carousel__btn-details svg ellipse#dot {
  fill: #ffffff;
}
.me .carousel__btn-prev svg:hover ellipse#circle,
.me .carousel__btn-next svg:hover ellipse#circle,
.me .carousel__btn-details svg:hover ellipse#circle {
  fill: #ffffff;
}
.me .carousel__btn-prev svg:hover ellipse#ring,
.me .carousel__btn-next svg:hover ellipse#ring,
.me .carousel__btn-details svg:hover ellipse#ring {
  fill: url(#svgHover) #00f3ff;
}
.me .carousel__btn-prev svg:hover path#arrow,
.me .carousel__btn-prev svg:hover ellipse#dot,
.me .carousel__btn-next svg:hover path#arrow,
.me .carousel__btn-next svg:hover ellipse#dot,
.me .carousel__btn-details svg:hover path#arrow,
.me .carousel__btn-details svg:hover ellipse#dot {
  fill: url(#svgHover) #00f3ff;
}
@media (hover: hover) {
  .me .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .me .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .me .carousel__snapper {
    animation-name: none;
  }
}
.me .carousel:hover .carousel__snapper,
.me .carousel:focus-within .carousel__snapper {
  animation-name: none;
}
.me .deck__project-card img {
  margin: 0 auto;
  min-width: 900px;
  min-height: 556px;
  max-width: 1052px;
  max-height: 650px;
}
.me .pinstripe {
  height: 1rem;
}
.me footer .top {
  padding: 1.5rem 0;
}
.me footer .middle {
  background-color: #151312;
}
.me footer .profile-wrapper {
  width: 20%;
}
.me footer img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.me footer .quote-wrapper {
  display: block;
  width: 80%;
}
.me footer p {
  color: #ffffff;
}
.me footer p.quote {
  color: #ffffff;
  text-shadow: 1px 2px 1px #070021;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #2000a0 65%);
}
.me footer p.quote svg .dbl-quote {
  fill: #2000a0;
}
.me footer p.quote-src {
  background: linear-gradient(180deg, #110054 50%, rgba(255, 255, 255, 0) 50%);
  margin: 0;
  padding: 1rem 0;
}
.me footer p.quote {
  font-style: italic;
  font-variation-settings: "ital" 1;
  text-shadow: 1px 2px 1px #0a0908;
  color: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #504942 65%);
  display: inline;
}
.me footer p.quote svg {
  margin-left: -24px;
  padding-right: 4px;
  padding-bottom: 12px;
}
.me footer p.quote svg .dbl-quote {
  fill: #2000a0;
}
.me footer p.quote-src {
  background: linear-gradient(180deg, #110054 50%, rgba(255, 255, 255, 0) 50%);
  margin: 0;
  padding: 1rem 0;
}
.me footer p.quote-src a:hover {
  background: #ffffff;
}
.me footer img.logo {
  width: 32px;
  height: 32px;
  margin: 5px 0;
}
.me footer a.btn-nav_networks {
  padding: 0.75rem 0.5rem;
  color: #2500ba;
  background-color: #0b0035;
}
.me footer a.btn-nav_networks svg {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.35rem;
  color: #070021;
}
.me footer a.btn-nav_networks svg .logo {
  fill: #2500ba;
  stroke: #2500ba;
}
.me footer a.btn-nav_networks:visited {
  color: #1b0087;
}
.me footer a.btn-nav_networks:visited svg {
  color: #09002b;
}
.me footer a.btn-nav_networks:visited svg .logo {
  fill: #1b0087;
  stroke: #1b0087;
}
.me footer a.btn-nav_networks:hover {
  color: #2a00d3;
  background-color: #13005e;
  text-decoration: underline;
}
.me footer a.btn-nav_networks:hover svg {
  color: #070021;
}
.me footer a.btn-nav_networks:hover svg .logo {
  fill: #2a00d3;
  stroke: #2a00d3;
}
.me footer a.btn-nav_networks:active {
  color: #ffffff;
  text-decoration: underline;
}
.me footer a.btn-nav_networks:active svg {
  color: #010007;
}
.me footer a.btn-nav_networks:active svg .logo {
  fill: #ffffff;
  stroke: #ffffff;
}
.me footer .copyright {
  margin: auto 0 auto auto;
}
@media (min-width: 577px) and (max-width: 768px) {
  .me footer .profile-wrapper {
    width: 33.333%;
  }
  .me footer .quote-wrapper {
    width: 66.666%;
  }
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me .grid-1-3.btn {
    width: 100%;
  }
  .me a.btn-nav_main,
  .me footer a.btn-nav_networks {
    padding: 0.75rem 2.5rem;
    justify-content: flex-start;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me footer .profile-wrapper {
    width: calc(100% - 5rem);
    padding: 2.5rem 2.5rem 0;
  }
  .me footer img.profile {
    margin: 0 auto;
  }
  .me footer .quote-wrapper {
    width: calc(100% - 5rem);
    padding: 0.75rem 2.5rem;
  }
  .me footer .grid__fixed-width.top {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me .grid-1-3.btn {
    width: 100%;
  }
  .me a.btn-nav_main,
  .me footer a.btn-nav_networks {
    padding: 0.75rem 2.5rem;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 376px) {
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me .grid-1-3.btn {
    width: 100%;
  }
  .me a.btn-nav_main,
  .me footer a.btn-nav_networks {
    justify-content: flex-start;
  }
}/*# sourceMappingURL=me.css.map */