<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.sitetitle }} | {{ sectiontitle }}</title>
    <meta name="Description" content="{{ meta.sitedescription }} | {{ sectiondescription }}">
      {# <link rel="alternate" href="{{ meta.feedpath | url }}" type="application/atom+xml" title="{{ meta.sitetitle }} | {{ sectiontitle }}"> #}
    {% set css %}
      {% include "styles.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ meta.sitetitle }}</a></h1>
      <ul class="nav">
        {%- for nav in collections.nav | reverse -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}
      </ul>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
        <p><em>This is an <a href="https://www.11ty.io/">Eleventy</a> <code>blog</code></em></p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
