/*
 * Mixins
 * =================
 * abstracts/mixins
 */
/* Responsive breakpoint manager
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * Mixin for Responsive Retina Image
 * @include image-2x;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* @mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
} */
/*
 * Variables
 * =================
 * abstracts/variables
 */
/* Monochromic */
.me.home {
  /*
   * Carousel
   */
}
.me.home #projects.stack a.grid-container-row img.slide.teaser.rectangle {
  height: 80vh;
  width: auto;
}
.me.home #projects.stack a.grid-container-row .project-teaser-right {
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.me.home .intro-duo {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.me.home .intro-duo__profile {
  display: flex;
  flex-direction: column;
}
.me.home .intro-duo__profile .profile-img {
  background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v3/tr:h-500/Scudder-Stevens__flannel-sq.jpg");
  background-repeat: no-repeat;
  background-position-x: 70%;
  background-position-y: center;
  background-size: cover;
  height: 500px;
  width: 500px;
}
.me.home .intro-duo__profile .intro-duo__title {
  display: block;
  margin: 0 2rem auto;
}
.me.home .intro-duo__copy {
  display: flex;
  flex-direction: column;
  width: calc(100% - 500px);
  margin: 1rem;
  padding: 1rem 2rem;
  align-content: center;
}
.me.home .intro-duo__copy .intro-duo__title {
  display: none;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me.home .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me.home .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v3/tr:h-300/Scudder-Stevens__flannel-sq.jpg");
    background-position-x: center;
    height: 250px;
    width: 250px;
  }
  .me.home .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me.home .intro-duo__copy {
    display: flex;
    width: 100%;
    width: calc(100% - 4rem);
    margin: 1rem 0;
    padding: 0 2rem 2rem;
  }
  .me.home .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me.home .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me.home .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v3/tr:h-300/Scudder-Stevens__flannel-sq.jpg");
    background-position-x: center;
    height: 300px;
    width: 300px;
  }
  .me.home .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me.home .intro-duo__copy {
    width: calc(100% - 4rem);
    margin: 1rem 0;
    padding: 0 2rem 2rem;
  }
  .me.home .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me.home .intro-duo {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .me.home .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v3/tr:h-500/Scudder-Stevens__flannel-sq.jpg");
    background-position-x: center;
    height: 500px;
    width: 500px;
  }
  .me.home .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me.home .intro-duo__copy {
    width: calc(100% - 6rem);
    margin: 1rem;
    padding: 0 2rem 2rem;
    align-content: top;
  }
  .me.home .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me.home .intro-duo__copy.white {
    margin: 1rem 0;
  }
  .me.home .intro-duo__profile {
    margin-bottom: 0;
  }
  .me.home .intro-duo__profile .profile-img {
    background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/ss/me/v3/tr:h-250/Scudder-Stevens__flannel-sq.jpg");
    height: 250px;
    width: 250px;
  }
  .me.home .intro-duo__profile .intro-duo__title {
    display: none;
  }
  .me.home .intro-duo__copy {
    display: flex;
    flex-direction: column;
    width: calc(100% - 4rem);
    margin: 0;
    padding: 0 2rem;
  }
  .me.home .intro-duo__copy .intro-duo__title {
    display: block;
  }
}
.me.home ol.carousel__viewport,
.me.home li.carousel__project-slide,
.me.home li.carousel__more-slide {
  list-style: none;
  margin: 0;
  padding: 0;
}
.me.home .carousel__viewport {
  display: flex;
  height: 650px;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}
.me.home .carousel__project-slide {
  flex: 0 0 100%;
  width: 100%;
  height: 650px;
  counter-increment: item;
  position: relative;
}
.me.home .carousel__project-slide img.slide {
  display: flex;
  margin: -60px auto 0;
  position: relative;
  z-index: 10;
}
.me.home .carousel__project-slide img.slide.rectangle {
  min-width: 900px;
  min-height: 556px;
  max-width: 1052px;
  max-height: 650px;
}
.me.home .carousel__project-slide img.slide.square {
  min-width: 556px;
  min-height: 556px;
  max-width: 650px;
  max-height: 650px;
}
.me.home .carousel__project-slide_header {
  height: 60px;
  top: 33.333%;
  bottom: 66.666%;
  position: relative;
  z-index: 100;
}
.me.home .carousel__project-slide_header .grid__fixed-width {
  max-width: 1050px;
}
.me.home .carousel__project-slide_header .grid__fixed-width h3 {
  margin: auto 0;
}
.me.home .carousel__snapper,
.me.home .carousel__jumper {
  display: flex;
  flex-direction: row;
  width: 120px;
  position: relative;
}
.me.home .carousel__snapper {
  padding: 0 0 0 2rem;
}
.me.home .carousel__jumper {
  padding: 0 2rem 0 0;
}
.me.home .carousel__btn-prev,
.me.home .carousel__btn-next,
.me.home .carousel__btn-details {
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.me.home .carousel__btn-prev svg,
.me.home .carousel__btn-next svg,
.me.home .carousel__btn-details svg {
  width: 60px;
  height: 60px;
}
.me.home .carousel__btn-prev svg ellipse#circle,
.me.home .carousel__btn-prev svg ellipse#ring,
.me.home .carousel__btn-next svg ellipse#circle,
.me.home .carousel__btn-next svg ellipse#ring,
.me.home .carousel__btn-details svg ellipse#circle,
.me.home .carousel__btn-details svg ellipse#ring {
  fill: #d9d9d9;
}
.me.home .carousel__btn-prev svg path#arrow,
.me.home .carousel__btn-prev svg ellipse#dot,
.me.home .carousel__btn-next svg path#arrow,
.me.home .carousel__btn-next svg ellipse#dot,
.me.home .carousel__btn-details svg path#arrow,
.me.home .carousel__btn-details svg ellipse#dot {
  fill: #ffffff;
}
.me.home .carousel__btn-prev svg:hover ellipse#circle,
.me.home .carousel__btn-next svg:hover ellipse#circle,
.me.home .carousel__btn-details svg:hover ellipse#circle {
  fill: #ffffff;
}
.me.home .carousel__btn-prev svg:hover ellipse#ring,
.me.home .carousel__btn-next svg:hover ellipse#ring,
.me.home .carousel__btn-details svg:hover ellipse#ring {
  fill: url(#svgHover) #00f3ff;
}
.me.home .carousel__btn-prev svg:hover path#arrow,
.me.home .carousel__btn-prev svg:hover ellipse#dot,
.me.home .carousel__btn-next svg:hover path#arrow,
.me.home .carousel__btn-next svg:hover ellipse#dot,
.me.home .carousel__btn-details svg:hover path#arrow,
.me.home .carousel__btn-details svg:hover ellipse#dot {
  fill: url(#svgHover) #00f3ff;
}
@media (hover: hover) {
  .me.home .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .me.home .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .me.home .carousel__snapper {
    animation-name: none;
  }
}
.me.home .carousel:hover .carousel__snapper,
.me.home .carousel:focus-within .carousel__snapper {
  animation-name: none;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me.home .carousel-wrapper {
    display: none;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me.home .carousel-wrapper {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me.home .carousel__project-slide .carousel__jumper {
    padding: 0 0 0 2rem;
  }
  .me.home .carousel__project-slide img.slide.square {
    display: block;
    height: 100%;
    width: auto;
  }
  .me.home .carousel__project-slide img.slide.rectangle {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me.home .carousel__project-slide img.slide.square {
    display: block;
    height: 100%;
    width: auto;
  }
  .me.home .carousel__project-slide img.slide.rectangle {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .me.home .carousel__project-slide img.slide.square {
    display: none;
  }
}
@media (min-width: 1201px) {
  .me.home .carousel__project-slide img.slide.square {
    display: none;
  }
}/*# sourceMappingURL=home.css.map */