/*
 * ScudderStevens.me
 * ===========
 * themes/me/main.scss
 */
/*
 * Mixins
 * =================
 * abstracts/mixins
 */
/* Responsive breakpoint manager
 * @access public
 * @param {String} $breakpoint - Breakpoint
 * @requires $breakpoints
 */
/*
 * Mixin for clearfix
 * @include clearfix;
*/
/*
 * Mixin for Responsive Retina Image
 * @include image-2x;
*/
/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */
/* @mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '/' + $font-name + '.eot');
		src: url($font-url + '/' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '/' + $font-name + '.woff') format('woff'),
			 url($font-url + '/' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '/' + $font-name + '.svg#' + $font-name) format('svg');
	}
} */
/*
 * Variables
 * =================
 * abstracts/variables
 */
/* Monochromic */
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap");
.me.light {
  background-color: #ffffff;
}
.me.light .primary {
  background-color: #07ffde;
}
.me.light .primary_s1, .me.light .primary_s10, .me.light .primary_s100 {
  background-color: #ffffff;
}
.me.light .primary_s095 {
  background-color: #d3fff9;
}
.me.light .primary_s09, .me.light .primary_s090 {
  background-color: #bafff6;
}
.me.light .primary_s085 {
  background-color: #a0fff2;
}
.me.light .primary_s08, .me.light .primary_s080 {
  background-color: #87ffef;
}
.me.light .primary_s075 {
  background-color: #6dffec;
}
.me.light .primary_s07, .me.light .primary_s070 {
  background-color: #54ffe8;
}
.me.light .primary_s070a70 {
  background-color: rgba(126, 143, 234, 0.7);
}
.me.light .primary_s065 {
  background-color: #3affe5;
}
.me.light .primary_s06, .me.light .primary_s060 {
  background-color: #21ffe1;
}
.me.light .primary_s055 {
  background-color: #07ffde;
}
.me.light .primary_s05, .me.light .primary_s050 {
  background-color: #00edcd;
}
.me.light .primary_s045 {
  background-color: #00d3b7;
}
.me.light .primary_s04, .me.light .primary_s040 {
  background-color: #00baa1;
}
.me.light .primary_s035 {
  background-color: #00a08b;
}
.me.light .primary_s03, .me.light .primary_s030 {
  background-color: #008775;
}
.me.light .primary_s025 {
  background-color: #006d5e;
}
.me.light .primary_s02, .me.light .primary_s020 {
  background-color: #005448;
}
.me.light .primary_s015 {
  background-color: #003a32;
}
.me.light .primary_s01, .me.light .primary_s010 {
  background-color: #00211c;
}
.me.light .primary_s005 {
  background-color: #000706;
}
.me.light .primary_s0, .me.light .primary_s00, .me.light .primary_s000 {
  background-color: #000000;
}
.me.light .secondary {
  background-color: #cdff07;
}
.me.light .secondary_s1, .me.light .secondary_s10, .me.light .secondary_s100 {
  background-color: #ffffff;
}
.me.light .secondary_s095 {
  background-color: #f6ffd3;
}
.me.light .secondary_s09, .me.light .secondary_s090 {
  background-color: #f1ffba;
}
.me.light .secondary_s085 {
  background-color: #ecffa0;
}
.me.light .secondary_s08, .me.light .secondary_s080 {
  background-color: #e7ff87;
}
.me.light .secondary_s075 {
  background-color: #e2ff6d;
}
.me.light .secondary_s07, .me.light .secondary_s070 {
  background-color: #ddff54;
}
.me.light .secondary_s065 {
  background-color: #d8ff3a;
}
.me.light .secondary_s06, .me.light .secondary_s060 {
  background-color: #d2ff21;
}
.me.light .secondary_s055 {
  background-color: #cdff07;
}
.me.light .secondary_s05, .me.light .secondary_s050 {
  background-color: #bded00;
}
.me.light .secondary_s045 {
  background-color: #a9d300;
}
.me.light .secondary_s04, .me.light .secondary_s040 {
  background-color: #94ba00;
}
.me.light .secondary_s035 {
  background-color: #80a000;
}
.me.light .secondary_s03, .me.light .secondary_s030 {
  background-color: #6c8700;
}
.me.light .secondary_s025 {
  background-color: #576d00;
}
.me.light .secondary_s02, .me.light .secondary_s020 {
  background-color: #435400;
}
.me.light .secondary_s015 {
  background-color: #2e3a00;
}
.me.light .secondary_s01, .me.light .secondary_s010 {
  background-color: #1a2100;
}
.me.light .secondary_s005 {
  background-color: #060700;
}
.me.light .secondary_s0, .me.light .secondary_s00, .me.light .secondary_s000 {
  background-color: #000000;
}
.me.light .accent {
  background-color: #3907ff;
}
.me.light .accent_s1, .me.light .accent_s10, .me.light .accent_s100 {
  background-color: #ffffff;
}
.me.light .accent_s095 {
  background-color: #dcd3ff;
}
.me.light .accent_s09, .me.light .accent_s090 {
  background-color: #c7baff;
}
.me.light .accent_s085 {
  background-color: #b3a0ff;
}
.me.light .accent_s08, .me.light .accent_s080 {
  background-color: #9f87ff;
}
.me.light .accent_s075 {
  background-color: #8a6dff;
}
.me.light .accent_s07, .me.light .accent_s070 {
  background-color: #7654ff;
}
.me.light .accent_s065 {
  background-color: #613aff;
}
.me.light .accent_s06, .me.light .accent_s060 {
  background-color: #4d21ff;
}
.me.light .accent_s055 {
  background-color: #3907ff;
}
.me.light .accent_s05, .me.light .accent_s050 {
  background-color: #2f00ed;
}
.me.light .accent_s045 {
  background-color: #2a00d3;
}
.me.light .accent_s04, .me.light .accent_s040 {
  background-color: #2500ba;
}
.me.light .accent_s035 {
  background-color: #2000a0;
}
.me.light .accent_s03, .me.light .accent_s030 {
  background-color: #1b0087;
}
.me.light .accent_s025 {
  background-color: #16006d;
}
.me.light .accent_s02, .me.light .accent_s020 {
  background-color: #110054;
}
.me.light .accent_s015 {
  background-color: #0c003a;
}
.me.light .accent_s01, .me.light .accent_s010 {
  background-color: #070021;
}
.me.light .accent_s005 {
  background-color: #010007;
}
.me.light .accent_s0, .me.light .accent_s00, .me.light .accent_s000 {
  background-color: #000000;
}
.me.light .alt {
  background-color: #ffa600;
}
.me.light .alt_s1, .me.light .alt_s10, .me.light .alt_s100 {
  background-color: #ffffff;
}
.me.light .alt_s095 {
  background-color: #ffedcc;
}
.me.light .alt_s09, .me.light .alt_s090 {
  background-color: #ffe4b3;
}
.me.light .alt_s085 {
  background-color: #ffdb99;
}
.me.light .alt_s08, .me.light .alt_s080 {
  background-color: #ffd380;
}
.me.light .alt_s075 {
  background-color: #ffca66;
}
.me.light .alt_s07, .me.light .alt_s070 {
  background-color: #ffc14d;
}
.me.light .alt_s065 {
  background-color: #ffb833;
}
.me.light .alt_s06, .me.light .alt_s060 {
  background-color: #ffaf1a;
}
.me.light .alt_s055 {
  background-color: #ffa600;
}
.me.light .alt_s05, .me.light .alt_s050 {
  background-color: #e69500;
}
.me.light .alt_s045 {
  background-color: #cc8500;
}
.me.light .alt_s04, .me.light .alt_s040 {
  background-color: #b37400;
}
.me.light .alt_s035 {
  background-color: #996400;
}
.me.light .alt_s03, .me.light .alt_s030 {
  background-color: #805300;
}
.me.light .alt_s025 {
  background-color: #664200;
}
.me.light .alt_s02, .me.light .alt_s020 {
  background-color: #4d3200;
}
.me.light .alt_s015 {
  background-color: #332100;
}
.me.light .alt_s01, .me.light .alt_s010 {
  background-color: #1a1100;
}
.me.light .alt_s005 {
  background-color: black;
}
.me.light .alt_s0, .me.light .alt_s00, .me.light .alt_s000 {
  background-color: #000000;
}
.me.light .linear-gradient {
  background: linear-gradient(135deg, #ffa600 60%, #07ffde);
}
.me.light .linear-gradient_s10 {
  background: linear-gradient(135deg, #ffa600 10%, #07ffde);
}
.me.light .linear-gradient_s20 {
  background: linear-gradient(135deg, #ffa600 20%, #07ffde);
}
.me.light .linear-gradient_s30 {
  background: linear-gradient(135deg, #ffa600 30%, #07ffde);
}
.me.light .linear-gradient_s40 {
  background: linear-gradient(135deg, #ffa600 40%, #07ffde);
}
.me.light .linear-gradient_s50 {
  background: linear-gradient(135deg, #ffa600 50%, #07ffde);
}
.me.light .linear-gradient_s60 {
  background: linear-gradient(135deg, #ffa600 60%, #07ffde);
}
.me.light .linear-gradient_s70 {
  background: linear-gradient(135deg, #ffa600 70%, #07ffde);
}
.me.light .linear-gradient_s80 {
  background: linear-gradient(135deg, #ffa600 80%, #07ffde);
}
.me.light .linear-gradient_s90 {
  background: linear-gradient(135deg, #ffa600 90%, #07ffde);
}
.me.light .card.stage-zero {
  background-color: rgb(255, 255, 0);
}
.me.light .card.stage-one {
  background-color: rgb(183, 255, 0);
}
.me.light .card.stage-two {
  background-color: rgb(68, 255, 0);
}
.me.light .card.stage-three {
  background-color: rgb(0, 255, 172);
}
.me.light .card.stage-zero .copy,
.me.light .card.stage-one .copy,
.me.light .card.stage-two .copy,
.me.light .card.stage-three .copy {
  background-color: #FAF1ED;
}
.me.light .description.d1,
.me.light .qualitative-tag.na1 {
  background-color: rgba(135, 150, 255, 0.2);
}
.me.light .del-tag.d1,
.me.light .qualitative-tag.d1,
.me.light .qualitative-unit.d1 {
  background-color: rgb(135, 150, 255);
}
.me.light .description.d2,
.me.light .qualitative-tag.na2 {
  background-color: rgba(175, 150, 255, 0.2);
}
.me.light .del-tag.d2,
.me.light .qualitative-tag.d2,
.me.light .qualitative-unit.d2 {
  background-color: rgb(175, 150, 255);
}
.me.light .description.d3,
.me.light .qualitative-tag.na3 {
  background-color: rgba(215, 150, 255, 0.2);
}
.me.light .del-tag.d3,
.me.light .qualitative-tag.d3,
.me.light .qualitative-unit.d3 {
  background-color: rgb(215, 150, 255);
}
.me.light .description.d4,
.me.light .qualitative-tag.na4 {
  background-color: rgba(255, 150, 255, 0.2);
}
.me.light .del-tag.d4,
.me.light .qualitative-tag.d4,
.me.light .qualitative-unit.d4 {
  background-color: rgb(255, 150, 255);
}
.me.light .description.d5,
.me.light .qualitative-tag.na5 {
  background-color: rgba(15, 150, 255, 0.2);
}
.me.light .del-tag.d5,
.me.light .qualitative-tag.d5,
.me.light .qualitative-unit.d5 {
  background-color: rgb(15, 151, 255);
}
.me.light .description.d6,
.me.light .qualitative-tag.na6 {
  background-color: rgba(15, 190, 255, 0.2);
}
.me.light .del-tag.d6,
.me.light .qualitative-tag.d6,
.me.light .qualitative-unit.d6 {
  background-color: rgb(15, 190, 255);
}
.me.light .description.d7,
.me.light .qualitative-tag.na7 {
  background-color: rgba(15, 230, 255, 0.2);
}
.me.light .del-tag.d7,
.me.light .qualitative-tag.d7,
.me.light .qualitative-unit.d7 {
  background-color: rgb(15, 230, 255);
}
.me.light .description.d8,
.me.light .qualitative-tag.na8 {
  background-color: rgba(15, 230, 215, 0.2);
}
.me.light .del-tag.d8,
.me.light .qualitative-tag.d8,
.me.light .qualitative-unit.d8 {
  background-color: rgb(15, 230, 215);
}
.me.light .description.d9,
.me.light .qualitative-tag.na9 {
  background-color: rgba(15, 230, 175, 0.2);
}
.me.light .del-tag.d9,
.me.light .qualitative-tag.d9,
.me.light .qualitative-unit.d9 {
  background-color: rgb(15, 230, 175);
}
.me.light .quantitative-tag {
  background-color: rgba(231, 226, 223, 0.2);
}
.me.light .tag.t1 {
  background-color: rgb(230, 250, 83);
}
.me.light .tag.t2 {
  background-color: rgb(88, 243, 98);
}
.me.light .tag.t3 {
  background-color: rgb(71, 210, 241);
}
.me.light .tag.t4 {
  background-color: rgb(217, 107, 237);
}

.me {
  /*
      ol.tags,
      ul.tags { 
          margin: 0;
          padding: 0;
          li.tag {
              display: inline-flex;
              margin: 0;
              padding: .15rem .5rem;
              //font-size: 1rem;
              font-weight: 400;
          }
      }

      .del-tag,
      .tag {
          display: inline-flex;
          margin: 0;
          padding: .15rem .5rem;
          //font-size: 1rem;
          font-weight: 400;
      }
  */
}
.me .alert {
  font-family: "Saira", sans-serif;
  font-weight: 200;
}
.me h1, .me h2, .me h3, .me h4, .me h5, .me h6 {
  font-family: "Saira", sans-serif;
  line-height: inherit;
  font-optical-sizing: auto;
}
.me p, .me a, .me li {
  font-family: "Saira", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}
.me h1 {
  font-size: 3rem;
  font-weight: 100;
  font-variation-settings: "wght" 100, "wdth" 90;
  color: #010007;
}
.me h2 {
  font-size: 1.75rem;
  font-weight: 100;
  font-variation-settings: "wght" 100, "wdth" 90;
  color: black;
}
.me h3 {
  font-size: 1.35rem;
  font-weight: 200;
  font-variation-settings: "wght" 200, "wdth" 90;
  color: black;
}
.me h4 {
  font-size: 1.15rem;
  font-weight: 350;
  font-variation-settings: "wght" 350, "wdth" 90;
  color: black;
}
.me h5 {
  font-size: 1rem;
  font-weight: 300;
  font-variation-settings: "wght" 300, "wdth" 100;
  color: black;
}
.me h6 {
  font-size: 0.85rem;
  font-weight: 250;
  font-variation-settings: "wght" 250, "wdth" 110;
  color: black;
}
.me p strong {
  font-weight: 450;
}
.me p.quote {
  font-style: italic;
  font-variation-settings: "ital" 1;
  text-shadow: 1px 2px 1px #fff;
  color: #332100;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #ffa600 65%);
  display: inline;
}
.me p.quote svg {
  margin-left: -24px;
  padding-right: 4px;
  padding-bottom: 12px;
}
.me p.quote svg.dbl-quote {
  fill: #ffa600;
}
.me p.quote-src {
  background: linear-gradient(180deg, #ffdb99 50%, rgba(255, 255, 255, 0) 50%);
  margin: 0;
  padding: 1rem 0;
}
.me p.quote-src a:hover {
  background: #ffffff;
}
.me p.mega,
.me p.mega a,
.me a.mega {
  font-weight: 350;
  font-size: 1.5rem;
}
.me p.giga,
.me p.giga a,
.me a.giga {
  font-weight: 400;
  font-size: 1.75rem;
}
.me p.tera,
.me p.tera a,
.me a.tera {
  font-weight: 450;
  font-size: 2rem;
}
.me p.micro,
.me p.micro a a.micro {
  font-weight: 250;
  font-size: 1.1rem;
}
.me p.nano,
.me p.nano a,
.me a.nano {
  font-weight: 200;
  font-size: 0.85rem;
}
.me p.pico,
.me p.pico a,
.me a.pico {
  font-weight: 150;
  font-size: 0.6rem;
}
.me p a {
  color: #00aa94;
  text-decoration: none;
  text-shadow: 1px 2px 1px #edfffd;
}
.me p a:visited {
  color: #008775;
}
.me p a:hover {
  color: #2200aa;
  text-decoration: underline;
  text-shadow: none;
}
.me p a:active {
  color: #3907ff;
  text-decoration: underline;
  text-shadow: none;
}
.me a.icon-link {
  color: #00aa94;
  text-decoration: none;
  font-weight: 350;
}
.me a.icon-link svg {
  width: 1.15rem;
  height: 1.15rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: -0.15rem;
  color: #87ffef;
}
.me a.icon-link:visited {
  color: #008775;
}
.me a.icon-link:visited svg {
  color: #07ffde;
}
.me a.icon-link:hover {
  color: #2200aa;
  text-decoration: underline;
}
.me a.icon-link:hover svg {
  color: #3907ff;
}
.me a.icon-link:active {
  color: #ffa600;
  text-decoration: underline;
}
.me a.icon-link:active svg {
  color: #3907ff;
}
.me a.icon-link.external {
  text-decoration: none;
}
.me a.icon-link.external svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
  margin-bottom: 0;
  color: #87ffef;
}
.me a.icon-link.external:visited {
  color: #00baa1;
}
.me a.icon-link.external:visited svg {
  color: #00baa1;
}
.me a.icon-link.external:hover {
  color: #2500ba;
  text-decoration: underline;
}
.me a.icon-link.external:hover svg {
  color: #2500ba;
}
.me a.icon-link.external:active {
  color: #ffa600;
  text-decoration: underline;
}
.me a.icon-link.external:active svg {
  color: #3907ff;
}
.me .pinstripe {
  height: 1rem;
}
.me .stripe {
  height: 2rem;
}
.me #navigation #smileGradient {
  --color-stop-1: #9fdb72;
  --color-stop-2: #53d99d;
  --color-stop-3: #1ef4e1;
}
.me #svgHover, .me #navigation #logoHover, .me #navigation #smileHover {
  --color-stop-1: #eeee6c;
  --color-stop-2: #53f979;
  --color-stop-3: #2eceff;
}
.me #main-nav {
  padding: 2.25rem 0;
  /*
  a.btn-nav_profile-img {
  	background-image: url("https://ik.imagekit.io/mp2mjn7fgdt/me/v2/content/tr:h-160/Scudder-Trixie_profile-250w167h_xaOhQrHEz.jpg");
  	background-position-x: -35px;
  	background-size: cover;
  	clip-path: circle(44px at center);
  	filter: grayscale(100%);
  }
        */
}
.me #main-nav .nav-wrapper {
  background: linear-gradient(135deg, orange 60%, cyan);
}
.me #main-nav a[class^=btn-] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 450;
  cursor: pointer;
  /*
  svg {
      width: 1.75rem;
      height: 1.75rem;
  }
  */
}
.me #main-nav a[class^=btn-].primary {
  color: #00edcd;
  background-color: #f7fffe;
  text-decoration: none;
}
.me #main-nav a[class^=btn-].primary:visited {
  color: #006d5e;
}
.me #main-nav a[class^=btn-].primary:hover {
  color: #94ba00;
  text-decoration: underline;
}
.me #main-nav a[class^=btn-].primary:active {
  color: #cc8500;
  text-decoration: underline;
}
.me #main-nav a.btn-nav_profile-img,
.me #main-nav a.btn-nav_logo,
.me #main-nav a.btn-nav_smiles,
.me #main-nav a.btn-nav_toggle-menu {
  height: 88px;
  width: 88px;
}
.me #main-nav a.btn-nav_logo {
  cursor: pointer;
}
.me #main-nav a.btn-nav_logo svg path#section {
  fill: #F9F9F9;
}
.me #main-nav a.btn-nav_logo svg path#slash {
  fill: #D6D6D6;
}
.me #main-nav a.btn-nav_logo svg path#dash {
  fill: #D6D6D6;
}
.me #main-nav a.btn-nav_logo svg path#dot {
  fill: #B4B4B4;
}
.me #main-nav a.btn-nav_logo:hover svg path#section {
  fill: url(#logoHover) #e8fb44;
}
.me #main-nav a.btn-nav_logo:hover svg path#slash {
  fill: url(#logoHover) #00f3ff;
}
.me #main-nav a.btn-nav_logo:hover svg path#dash {
  fill: url(#logoHover) #08e2f0;
}
.me #main-nav a.btn-nav_logo:hover svg path#dot {
  fill: url(#logoHover) #00bbd7;
}
.me #main-nav a.btn-nav_smiles {
  cursor: pointer;
}
.me #main-nav a.btn-nav_smiles svg path {
  fill: url(#smileGradient) #8bdf8f;
}
.me #main-nav a.btn-nav_smiles:hover svg path {
  fill: url(#smileHover) #00fd0d;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me #main-nav .btn-grp {
    flex-direction: row;
  }
  .me #main-nav .btn-grp .btn:first-child {
    margin: 0 auto;
  }
  .me #main-nav .btn-grp .btn:last-child {
    display: none;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me #main-nav .btn-grp {
    flex-direction: row;
  }
  .me #main-nav .btn-grp .btn:first-child {
    margin: 0 auto;
  }
  .me #main-nav .btn-grp .btn:last-child {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me #main-nav .btn-grp {
    flex-direction: row;
  }
  .me #main-nav .btn-grp .btn:first-child {
    margin: 0 auto;
  }
  .me #main-nav .btn-grp .btn:last-child {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me #main-nav .btn-grp {
    flex-direction: row;
  }
  .me #main-nav .btn-grp .btn:first-child {
    margin: 0 auto 0 0;
  }
  .me #main-nav .btn-grp .btn:last-child {
    margin: 0 0 0 auto;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .me #main-nav .btn-grp {
    flex-direction: row;
  }
  .me #main-nav .btn-grp .btn:first-child {
    margin: 0 auto 0 0;
  }
  .me #main-nav .btn-grp .btn:last-child {
    margin: 0 0 0 auto;
  }
}
@media (min-width: 1201px) {
  .me #main-nav .btn-grp {
    flex-direction: row;
  }
  .me #main-nav .btn-grp .btn:first-child {
    margin: 0 auto 0 0;
  }
  .me #main-nav .btn-grp .btn:last-child {
    margin: 0 0 0 auto;
  }
}
.me .deck__projects-container {
  display: flex;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me .deck__projects-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me .deck__projects-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me .deck__projects-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me .deck__projects-container {
    flex-direction: column;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .me .deck__projects-container {
    flex-direction: column;
  }
}
@media (min-width: 1201px) {
  .me .deck__projects-container {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.me .project-card {
  display: flex;
}
.me .project-card-image {
  display: flex;
  overflow: clip;
}
.me .project-card-image img.teaser {
  display: flex;
}
.me .project-card-image img.teaser.rectangle {
  z-index: 10;
  width: 405px;
  height: 250px;
}
.me .project-card-image img.teaser.square {
  z-index: 10;
  width: 250px;
  height: 250px;
}
.me .project-card-image img.teaser.zoom {
  z-index: 11;
  display: none;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me .project-card-image img.teaser.rectangle {
    display: none;
  }
  .me .project-card-image img.teaser.square {
    display: block;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me .project-card-image img.teaser.rectangle {
    display: none;
  }
  .me .project-card-image img.teaser.square {
    display: block;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me .project-card-image img.teaser.rectangle {
    display: block;
  }
  .me .project-card-image img.teaser.square {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me .project-card-image img.teaser.rectangle {
    display: none;
  }
  .me .project-card-image img.teaser.square {
    display: block;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .me .project-card-image img.teaser.rectangle {
    display: block;
  }
  .me .project-card-image img.teaser.square {
    display: none;
  }
}
@media (min-width: 1201px) {
  .me .project-card-image img.teaser.rectangle {
    display: block;
  }
  .me .project-card-image img.teaser.square {
    display: none;
  }
}
.me .project-card-copy {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  padding: 0.75rem 0.75rem 2rem;
}
.me .project-card-copy .header {
  display: flex;
  flex-direction: column;
  margin: auto 0 0.5rem;
}
.me .project-card-copy .header .title {
  display: flex;
  font-weight: 350;
  font-size: 1.35rem;
}
.me .project-card-copy .header .subtitle {
  display: flex;
  font-weight: 200;
  font-size: 0.85rem;
}
.me .project-card-copy .body {
  display: flex;
  margin: 0.5rem 0 auto 0;
  font-size: 1rem;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me .project-card-copy {
    width: calc(250px - 2rem);
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me .project-card-copy {
    width: calc(250px - 2rem);
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me .project-card-copy {
    width: calc(405px - 2rem);
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me .project-card-copy {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .me .project-card-copy {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 1201px) {
  .me .project-card-copy {
    width: calc(405px - 2rem);
    height: calc(100% - 2rem);
  }
}
@media (min-width: 0px) and (max-width: 376px) {
  .me .project-card {
    flex-direction: column;
  }
  .me .project-card .project-card-image {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me .project-card {
    flex-direction: column;
  }
  .me .project-card .project-card-image {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me .project-card {
    flex-direction: column;
  }
  .me .project-card .project-card-image {
    width: 405px;
    height: 250px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .me .project-card {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .me .project-card .project-card-image {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .me .project-card {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .me .project-card .project-card-image {
    width: 405px;
    height: 250px;
  }
}
@media (min-width: 1201px) {
  .me .project-card {
    flex-direction: column;
  }
  .me .project-card .project-card-image {
    width: 405px;
    height: 250px;
  }
}
.me .deck__projects-container a.project-card {
  background-color: #6dffec;
  text-decoration: none;
  text-shadow: none;
}
.me .deck__projects-container a.project-card:nth-child(odd) {
  background-color: #00aa94;
}
.me .deck__projects-container a.project-card .header {
  color: #00aa94;
}
.me .deck__projects-container a.project-card .body {
  color: black;
}
.me .deck__projects-container a.project-card .project-card-copy {
  background-color: #ffffff;
}
.me .deck__projects-container a.project-card:visited .header {
  color: #008775;
}
.me .deck__projects-container a.project-card:visited .body {
  color: black;
  text-decoration: none;
  text-shadow: none;
}
.me .deck__projects-container a.project-card:hover {
  background-color: #2200aa;
}
.me .deck__projects-container a.project-card:hover img.teaser.square {
  display: none;
}
@keyframes project-ani {
  from {
    transform: scale(1.58);
  }
  to {
    transform: scale(1);
  }
}
.me .deck__projects-container a.project-card:hover img.teaser.zoom {
  display: flex;
  height: 250px;
  animation: project-ani 0.8s ease-in-out;
  width: auto;
  margin: 0 auto;
}
.me .deck__projects-container a.project-card:hover .header {
  color: #2200aa;
  text-decoration: underline;
  text-shadow: none;
}
.me .deck__projects-container a.project-card:hover .body {
  color: black;
  text-decoration: none;
  text-shadow: none;
}
.me .deck__projects-container a.project-card:active {
  background-color: #3907ff;
}
.me .deck__projects-container a.project-card:active .header {
  color: #3907ff;
  text-decoration: underline;
  text-shadow: none;
}
.me .deck__projects-container a.project-card:active .body {
  color: black;
  text-decoration: none;
  text-shadow: none;
}
.me #more {
  overflow-y: hidden; /* Hide vertical scrollbar */
}
.me .toggle__container {
  display: flex;
  flex-direction: column;
}
.me .toggle__container .toggle-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 60px;
}
@keyframes LR-ani {
  0% {
    margin: 0 0 0 60px;
  }
  100% {
    margin: 0 60px 0 0;
  }
}
@keyframes RL-ani {
  0% {
    margin: 0 60px 0 0;
  }
  100% {
    margin: 0 0 0 60px;
  }
}
.me .toggle__container .toggle-btn .toggle-dot {
  transition: 0.5s ease-in-out;
  animation: LR-ani 0.5s;
  animation-iteration-count: 1;
  margin: 0 60px 0 0;
}
.me .toggle__container .toggle-btn .toggle-dot svg ellipse#ring {
  fill: #CDCDCD;
}
.me .toggle__container .toggle-btn .toggle-dot svg ellipse#dot {
  fill: #ffffff;
}
.me .toggle__container .toggle-btn:hover .toggle-dot {
  transition: 0.5s ease-in-out;
  animation: RL-ani 0.5s;
  animation-iteration-count: 1;
  margin: 0 0 0 60px;
}
.me .toggle__container .toggle-btn:hover .toggle-dot svg ellipse#ring {
  fill: #57b7aa;
}
.me .toggle__container .toggle-btn:hover .toggle-dot svg ellipse#dot {
  fill: #07ffde;
}
.me .toggle__container .toggle-btn.active .toggle-dot {
  margin: 0 0 0 60px;
}
.me .toggle__container .toggle-btn.active .toggle-dot svg ellipse#ring {
  fill: #CDCDCD;
}
.me .toggle__container .toggle-btn.active .toggle-dot svg ellipse#dot {
  fill: #ffffff;
}
.me .toggle__container .toggle-btn.active:hover .toggle-dot {
  transition: 0.5s ease-in-out;
  animation: LR-ani 0.5s;
  animation-iteration-count: 1;
  margin: 0 60px 0 0;
}
.me .toggle__container .toggle-btn.active:hover .toggle-dot svg ellipse#ring {
  fill: #ae9358;
}
.me .toggle__container .toggle-btn.active:hover .toggle-dot svg ellipse#dot {
  fill: #ffa600;
}
.me .toggle__container .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-out;
  background-color: #07ffde;
}
.me .toggle__container .panel .panel-copy {
  margin: 0 0.5rem;
  padding: 1.5rem;
  background-color: #ffffff;
  /*
  // responsive
  @include xs  {}
  @include sm  {}
  @include md  {}
  @include lg  {}
  @include xl  {}
  @include xxl {}
  */
}
.me .toggle__container .panel .panel-copy p.title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0 0.25rem 0;
}
.me .toggle__container .panel .panel-copy p.sub-title {
  font-size: 1.1rem;
  font-weight: 250;
  margin: 0.25rem 0 0.5rem 0;
}
.me .toggle__container .panel .panel-copy p.body {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0.5rem 0 1rem 0;
}
.me footer {
  background-color: #005448;
}
.me footer p {
  color: #ffffff;
}
.me footer .top {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.me footer .middle {
  background-color: #003a32;
}
.me footer .bottom {
  background-color: #00baa1;
}
.me footer .profile-wrapper {
  margin: 0 auto;
  padding-bottom: 0.5rem;
}
.me footer img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.me footer .quote-wrapper {
  display: block;
  margin: 0 0 0 1.5rem;
}
.me footer p.quote {
  font-style: italic;
  font-variation-settings: "ital" 1;
  text-shadow: 1px 2px 1px #00211c;
  color: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #006d5e 65%);
  display: inline;
}
.me footer p.quote svg {
  margin-left: -24px;
  padding-right: 4px;
  padding-bottom: 12px;
}
.me footer p.quote svg .dbl-quote {
  fill: #003a32;
}
.me footer p.quote-src {
  background: linear-gradient(180deg, #003a32 50%, rgba(255, 255, 255, 0) 50%);
  margin: 0;
  padding: 1rem 0;
}
.me footer p.quote-src a:hover {
  background: #ffffff;
}
.me footer a.btn-nav_networks {
  background-color: #00443b;
  padding: 0.75rem 0.5rem;
}
.me footer a.btn-nav_networks p.network {
  color: #00d3b7;
  text-decoration: none;
  margin: auto auto auto 0.35rem;
}
.me footer a.btn-nav_networks svg {
  width: 1.75rem;
  height: 1.75rem;
  margin: auto 0.35rem auto auto;
  color: #00211c;
}
.me footer a.btn-nav_networks svg .logo {
  fill: #00baa1;
  stroke: #00baa1;
}
.me footer a.btn-nav_networks:visited {
  color: #008775;
}
.me footer a.btn-nav_networks:visited svg {
  color: #003029;
}
.me footer a.btn-nav_networks:visited svg .logo {
  fill: #008775;
  stroke: #008775;
}
.me footer a.btn-nav_networks:hover {
  background-color: #005e51;
}
.me footer a.btn-nav_networks:hover p.network {
  color: #00d3b7;
  text-decoration: underline;
}
.me footer a.btn-nav_networks:hover svg {
  color: #00211c;
}
.me footer a.btn-nav_networks:hover svg .logo {
  fill: #00d3b7;
  stroke: #00d3b7;
}
.me footer a.btn-nav_networks:active {
  color: #ffffff;
  text-decoration: underline;
}
.me footer a.btn-nav_networks:active svg {
  color: #000706;
}
.me footer a.btn-nav_networks:active svg .logo {
  fill: #ffffff;
  stroke: #ffffff;
}
.me footer img.logo {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem 0 0.5rem;
}
.me footer .copyright {
  margin: auto 0 auto auto;
}
@media (min-width: 0px) and (max-width: 376px) {
  .me footer {
    /* footer a.btn-nav_networks {
        justify-content: flex-start;
    } */
  }
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me footer .grid-1-3.btn,
  .me footer .grid-1-2.btn {
    width: 100%;
  }
  .me footer .bottom-wrapper {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me footer img.logo {
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem;
  }
  .me footer .copyright {
    margin: 0 auto;
    padding: 0.5rem 0 1.5rem;
  }
}
@media (min-width: 377px) and (max-width: 576px) {
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me footer .grid-1-3.btn,
  .me footer .grid-1-2.btn {
    width: 100%;
  }
  .me footer a.btn-nav_networks {
    padding: 0.75rem 2.5rem;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .me footer .grid__fixed-width.btn-grp {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .me footer .grid-1-3.btn,
  .me footer .grid-1-2.btn {
    width: 100%;
  }
  .me footer a.btn-nav_networks {
    padding: 0.75rem 2.5rem;
  }
}/*# sourceMappingURL=main.css.map */